extends layout

block body
  .container
    header.row
      h1 Movies

    - let n = 0
    - const totalRows = movies.length / 3

    while n < totalRows
      .row
        each movie in movies.slice(n * 3, (n + 1) * 3)
          article.movie-holder.col-sm-4
            a(href=`/movie/${movie.id}`): img(src=`${TMDB_IMG_BASE}/w640/${movie.poster_path}`)
            h4: a(href=`/movie/${movie.id}`)= movie.title
            p= movie.overview
      - n++
