extends layout

block body
  .container
    .row
      h1 Users

    each user in users
      .row
        article.col-md-6
          .row
            a(href= `/user/${user.username}`)
              h4.col-md-6= user.user.username
            .col-md-6
              table.table.table-striped
                thead
                  tr: th
                    th Similarity
                tbody
                  tr
                    td: b Euclidean distance
                    td= user.euclideanDistance
                  tr
                    td: b Manhattan distance
                    td= user.manhattanDistance
                  tr
                    td: b PCC
                    td= user.pcc






